<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Task</title>
  <link href="styles/styles.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/deleteTask.css}" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            margin: 50px !important;
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h3 style="text-align: center; margin-bottom: 4rem;"><a style=" text-decoration: none; color: black" th:href="@{/tasks}">List Task</a></h3>
        <a class="btn btn-light" role="button" th:href="@{/login}">Logout</a>
        <div>
              <div style="overflow: auto">
                <div class="headerButton" style="float: left;">
                  <button type="button" class="btn btn-secondary"><a style="color: #fff; text-decoration: none;" th:href="@{/tasks/export}">Export CSV</a></button>
                  <button type="button" class="btn btn-primary"><a style="color: #fff; text-decoration: none;" th:href="@{/tasks/create}">Add Product</a></button>
                </div>
                  <form action="/tasks" method="GET">
                <select type="button" class="btn btn-primary selectAction" style="float: right;" onchange="this.form.submit()" name="action">
                    <option selected disabled hidden th:text="${actionView} == '' ? 'All' : ${actionView}"></option>
                  <option value="Open">Open</option>
                  <option value="Inprogress">Inprogress</option>
                  <option value="Done">Done</option>
                  <option value="All">All</option>
                </select>
                  </form>
                <form class="input-group mb-3 searchTask" action="/tasks" method="GET"
                      style="float: right; max-width: 20rem; margin-right: 1rem;">
                    <input type="text" class="form-control" placeholder="Từ khóa" name="pSearch">
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
              </div>
            <div>
              <table cellpadding="10" class="table table-striped table-hover" style="text-align: center;">
                  <tr>
                      <th>Task ID</th>
                      <th>Title</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
                  <tr th:each="task: ${page.content}" id="listItem">
                      <td th:text="${task.id}"></td>
                      <td th:text="${task.title}"></td>
                      <td th:text="${task.action}"></td>
                      <td style="min-width: 300px">
                        <a class="btn btn-primary" role="button" th:href="@{/tasks/edit/{id}(id=${task.id})}">Edit</a>
                        <a class="btn btn-primary" role="button" th:href="@{/tasks/detail/{id}(id=${task.id})}">Detail</a>
                          <a class="btn btn-danger trigger-btn" data-toggle="modal" role="button" href="#myModal">Delete</a>
                      </td>
                      <div id="myModal" class="modal fade">
                          <div class="modal-dialog modal-confirm">
                              <div class="modal-content">
                                  <div class="modal-header flex-column">
                                      <div class="icon-box">
                                          <i class="material-icons">&#xE5CD;</i>
                                      </div>
                                      <h4 class="modal-title w-100">Are you sure?</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <p>Do you really want to delete this task? This process cannot be undone.</p>
                                  </div>
                                  <div class="modal-footer justify-content-center">
                                      <a role="button" class="btn btn-secondary" data-dismiss="modal" style="color: #fff">Cancel</a>
                                      <a class="btn btn-danger" role="button" th:href="@{/tasks/delete/{id}(id=${task.id})}" style="color: #fff" onclick="confirm()">Delete</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </tr>
              </table>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{/tasks(pSearch=${pSearch},action=${action}, p=0)}">First</a>
                </li>
                <li class="page-item" th:classappend="(${page.number}>=1) ? '' : disabled">
                    <a class="page-link" th:href="@{/tasks(pSearch=${pSearch},action=${action} , p=${page.number}-1)}">Previous</a>
                </li>
                <li class="page-item" th:if="${page.number}>=1">
                    <a class="page-link" th:href="@{/tasks(pSearch=${pSearch},action=${action} , p=${page.number}-1)}" th:text="(${page.number})"></a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" style="font-weight: bold;" tabindex="-1" aria-disabled="true" href="#" th:text="(${page.number}+1)"></a>
                </li>
                <li class="page-item" th:if="${page.number}<${page.totalPages}-1">
                    <a class="page-link" th:href="@{/tasks(pSearch=${pSearch},action=${action} , p=${page.number + 1})}" th:text="(${page.number}+2)"></a>
                </li>
                <li class="page-item" th:classappend="(${page.number}<${page.totalPages}-1) ? '' : disabled">
                    <a class="page-link" th:href="@{/tasks(pSearch=${pSearch},action=${action} , p=${page.number}+1)}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/tasks(pSearch=${pSearch},action=${action} , p=${page.totalPages}-1)}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
<script>
    confirm => {
        console.info()
    }
</script>
</body>
</html>