<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Task</title>
  <link href="styles/styles.css" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            margin: 50px;
        }
    </style>
</head>
<body>
    <div>
      <h3>List task</h3>
      <div>
              <div style="overflow: auto">
                <div class="headerButton" style="float: left;">
                  <button type="button" class="btn btn-secondary">Export CSV</button>
                  <button type="button" class="btn btn-primary"><a style="color: #fff" href="">Add Product</a></button>
                </div>
                <select type="button" class="btn btn-primary selectAction" style="float: right;">
                  <option value="101">Open</option>
                  <option value="102">Inprogress</option>
                  <option value="103">Done</option>
                  <option value="100">All</option>
                </select>
                <div class="input-group mb-3 searchTask" style="float: right; max-width: 20rem; margin-right: 1rem;">
                  <input type="text" class="form-control" placeholder="Từ khóa">
                  <button class="btn btn-primary" type="button">Search</button>
                </div>
              </div>
            <div>
              <table cellpadding="10" class="table table-striped table-hover">
                  <tr>
                    <th>Tiêu đề</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                  </tr>
                  <tr th:each="task: ${page.content}">
                    <td th:text="${task.title}"></td>
                    <td th:text="${task.action}"></td>
                    <td>
                      <a class="btn btn-primary" role="button" th:href="@{/tasks/editTask/{id}(id=${task.id})}">Edit</a>
                      <a class="btn btn-primary" role="button" th:href="@{/tasks/detailTask/{id}(id=${task.id})}">Detail</a>
                      <a class="btn btn-primary" role="button" th:href="@{/tasks/deleteTask/{id}(id=${task.id})}">Delete</a>
                    </td>
                  </tr>
              </table>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="page?p=0">First</a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{page?p={p}(p=${page.number}-1)}">Previous</a></li>
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true" href="#" th:text="(${page.number}+1)"></a></li>
                <li class="page-item"><a class="page-link" th:href="@{page?p={p}(p=${page.number}+1)}">Next</a></li>
                <li class="page-item">
                    <a class="page-link" th:href="@{page?p={p}(p=${page.totalPages}-1)}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>