<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="styles/login.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="images/logo.png" />
</head>
<body>
    <div id="logreg-forms">
        <form class="form-signin" th:action="@{/login}" th:object="${user}" method="POST">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>

            <input th:field="*{username}" type="text" id="inputEmail" class="form-control" placeholder="Username"  required="" autofocus="" onkeyup="validatedForm()">
            <input th:field="*{password}" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" onkeyup="validatedForm()">
            <p style="color: red" id="alert-login" th:text="${message}"></p>

            <button class="btn btn-success btn-block" id="btn-login" type="submit" disabled><i class="fas fa-sign-in-alt"></i>Login</button>
            <hr>
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        </form>

        <form th:action="@{/register}" th:object="${user}" method="POST" class="form-signup">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
            <input th:field="*{username}" type="text" id="user-name" class="form-control" placeholder="Username" required="" autofocus="" onkeyup="validatedForm()">
            <input th:field="*{password}" type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="" onkeyup="validatedForm()">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" onkeyup="mismatched()" required autofocus="">
            <p id="alert-register" style="color: red"></p>

            <button class="btn btn-primary btn-block" id="btn-confirm-signup" type="submit" disabled><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function toggleResetPswd(e) {
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle() // display:block or none
            $('#logreg-forms .form-reset').toggle() // display:block or none
        }

        function toggleSignUp(e) {
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle(); // display:block or none
            $('#logreg-forms .form-signup').toggle(); // display:block or none
        }

        $(() => {
            // Login Register Form
            $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
            $('#logreg-forms #cancel_reset').click(toggleResetPswd);
            $('#logreg-forms #btn-signup').click(toggleSignUp);
            $('#logreg-forms #cancel_signup').click(toggleSignUp);
        })
    </script>
    <script>
        function mismatched(){
            const password = document.getElementById("user-pass").value;
            const repass = document.getElementById("user-repeatpass").value;
            const btn = document.getElementById("btn-confirm-signup");
            if(password != repass) {
                document.getElementById("alert-register").innerText = "Không khớp mật khẩu!!"
                btn.setAttribute("disabled", "disabled");
            }
            else {
                document.getElementById("alert-register").innerText = ""
                btn.removeAttribute("disabled");
            }
        }

        function validatedForm() {
            let email1 = document.getElementById("inputEmail").value;
            let email2 = document.getElementById("user-name").value;
            let pass1 = document.getElementById("inputPassword").value;
            let pass2 = document.getElementById("user-pass").value;
            let btn1 = document.getElementById("btn-login");
            let btn2 = document.getElementById("btn-confirm-signup");

            if(email1.length<3) {
                document.getElementById("alert-login").innerText = "Tên tài khoản quá ngắn!!";
                btn1.setAttribute("disabled", "disabled");
            }
            else if(email1.length>256) {
                document.getElementById("alert-login").innerText = "Tên tài khoản quá dài!!";
            }
            else if(pass1.length<8) {
                document.getElementById("alert-login").innerText = "Mật khẩu quá ngắn!!";
                btn1.setAttribute("disabled", "disabled");
            }
            else if(pass1.length>256) {
                document.getElementById("alert-login").innerText = "Mật khẩu quá dài!!";
            }
            else {
                document.getElementById("alert-login").innerText = "";
                btn1.removeAttribute("disabled");

            }

            if(email2.length<3) {
                document.getElementById("alert-register").innerText = "Tên tài khoản quá ngắn!!";
                btn2.setAttribute("disabled", "disabled");
            }
            else if(email2.length>256) {
                document.getElementById("alert-register").innerText = "Tên tài khoản quá dài!!";
            }
            else if(pass2.length<8) {
                document.getElementById("alert-register").innerText = "Mật khẩu quá ngắn!!";
                btn2.setAttribute("disabled", "disabled");
            }
            else if(pass2.length>256) {
                document.getElementById("alert-register").innerText = "Mật khẩu quá dài!!";
            }
            else {
                document.getElementById("alert-register").innerText = "";
                btn2.removeAttribute("disabled");
            }
        }

    </script>
</body>
</html>