.formAlter {
    text-align: center;width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    padding: 1rem;
}

.formAlter form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

.formAlter h3 {
    padding: 1rem;
}

.form-control {
    resize: none;
}
